<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="false"
  convertNoticesToExceptions="true"
  processIsolation="false"
  stopOnFailure="true"
  syntacCheck="true"
  bootstrap="tests/bootstrap.php"
  >
  <testsuites>
    <testsuite name="Article Test Suite">
      <directory>./tests/Article/</directory>
    </testsuite>
  </testsuites>
</phpunit>
